<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxThreads" value="5"/>
    <add key="MaxItemsPerThread" value="15"/>
    <add key="Iterations" value="15"/>
    <add key="ConfigUrl" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    <add key="UserSMTP" value="auto@off365automation.onmicrosoft.com"/>
    <add key="Domain" value="off365automation.onmicrosoft.com"/>
    <add key="UserPassword" value="*****************"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>